/*
2- @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
font-family: "Playwrite DE Grund", cursive;

1- @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
font-family: "Comfortaa", sans-serif;

potential coffee shop font - @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
font-family: "Fredoka", sans-serif;

formal 1- @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,
wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
font-family: "Cormorant Garamond", serif;

rushed signature - @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
font-family: "Caveat", cursive;

cute signature - @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
font-family: "Indie Flower", cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@media screen and (min-width: 990px) {

/*--COMMON AMONG HTMLs--*/
  *{
  color: rgb(74, 43, 22);
  font-family: "Fredoka", sans-serif;
  padding: 0;
  margin: 2px;
  text-align: center;
  align-items: center;
}
h1{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 12%;
}
h2{
  font-size: 42px;
  font-weight: 550;
  letter-spacing: 1px;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 3%;
}
body{
  background-image: linear-gradient(rgba(255, 222, 196, 0.4), rgba(167, 79, 7, 0.4)), url('/files/images/background.png');
  background-size: cover;
  background-position: center;
}

header{
  padding-top: 0;
  display: block;
  margin: 20px;  
}
.container{
  width: 100%;
  float: left;
}
.logo {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 20px;
  font-size: 60px;
  float: left;
  font-weight: 600;
}
.menu{
  margin: 2% 2px 20px 10px;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
}
img{
  width: 325px; 
  padding: 15px; 
  border-radius: 20px;
  padding: 0.5%;
}
.button{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 2% 4%;
  border-radius: 15px;
  background-color: hsla(24, 45%, 55%, 0.8);
  color: rgb(237, 232, 227);
}
.button:hover{
  background-color: rgba(237, 232, 227, 0.8);
  color: rgb(74, 43, 22);
}
footer{
  text-align: center;
  display: inline-block;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.footer{
  font-weight: 600;
}
footer a{
  font-size: 25px;
  display: inline-block;
  grid-template-columns: fit-content(40%);
}

/*--INDEX.HTML--*/
.home-img{
  padding-top: 8%;
  width: 600px;
  border-radius: 25px;
}
.text-header{
  font-size: 45px;
  font-weight: 550;
  letter-spacing: 2px;  
}
.home-text{
  letter-spacing: 1px;
  padding: 8% 2% 2% 2%;
  margin: 5px;
  font-size: 42px;
  font-weight: 400;
  line-height: 100px;
  background: linear-gradient(to bottom,#321b0b 0%, #a14a0f 100%);
  background-clip: text;
  color: transparent;
}
table{
  padding: 1% 1% 3% 1%;
  margin-left: auto;
  margin-right: auto;
  color: 1px transparent hsla(24, 45%, 55%, 0.8);
  width: 750px;
  height: 650px;  
  background-color: hsla(33, 100%, 88%, 0.6);
  border-radius: 20px;  
}
.new{
  font-weight: 600;
  font-size: 24px;
}
#t-description{
  font-size: 20px;
  font-weight: 400;
  margin: 5%;
  text-align: justify;
}
.news{
  display: inline-block;
  margin-top: 5%;
  margin-right: 50px;
  width: 100%;
  text-align: center;
}
.opening{
  padding: 6% 1% 2% 1%;
}
#opening{
  width: 500px;
  height: 250px;
}
.row1{
  padding-top: 25px;
  width: 180px;
  border-bottom: solid 1px;
}
.row2{
  padding-top: 20px;
  font-size: 18px;
  font-weight: 350;
  line-height: 80px;
}

/*--ABOUT.HTML--*/
.about{
  padding-top: 10%;
}
.about-text{
  background-color: hsla(33, 100%, 90%, 0.7);
  font-size: 30px;
  font-weight: 450;
  border-radius: 20px;
}
.html{
  color: #e34c26;
}
.css{
  color: #264de4;
}
.js{
  color: #f0db4f;
}
/*--CONTACT.HTML--*/
.contact{
  padding-top: 10%;
}
#contact{
  font-size: 20px;
  padding: 1%;
  font-weight: 450;
}
input[type="text"],
input[type="email"],
textarea[type="message"],
button[type="submit"]{
  box-sizing: border-box;
  border: 3px solid rgb(74, 43, 22);
  border-radius: 15px;
  padding: 20px 28px;
  margin: 8px 0;
  font-size: 16px;
  color: black;
  background-color: rgb(243, 210, 170);
  opacity: 0.8;
}
::placeholder{
  color:black;
}
form{
  font-size: 20px;
}
/*--CATEGORIES.HTML--*/

.cat-img{
  width: 500px;  
  border-radius: 50%;
  padding: 3%;
}
/*--PRODUCTS.HTML--*/

.p-description{
  padding: 20px;
  font-size: 26px;
  font-weight: 450;
}
#product{
  font-size: 44px;
  font-weight: 550;
  letter-spacing: 1px;
}
.product{
  width: 300px;
  border-radius: 20px;
}}


@media screen and (max-width: 990px) {
  
/*--COMMON AMONG HTMLs--*/  
  *{
    color: rgb(74, 43, 22);
    font-family: "Fredoka", sans-serif;
    text-align: center;
    align-items: center;
  }
  h1{
    font-size: 45px;
    font-weight: 550;
    letter-spacing: 2px;
    padding-top: 150px;
  }
  h2{
    padding-top: 3%;
    margin-top: 3%;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;
  }
  body{
    background-image: linear-gradient(rgba(255, 222, 196, 0.3), rgba(167, 79, 7, 0.3)), url('/files/images/background.png');
    background-size: cover;
    background-position: center;
  }

  header{
    padding-top: 0;
    display: block;
    margin: 20px;  
  }
  .container{
    width: 100%;
    float: left;
  }
  .logo{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
    font-size: 50px;
    float: left;
    font-weight: 600;
    width: 100%;
  }
  .menu{
    justify-content: space-evenly;
    border: 20px;
    display: inline;
    font-size: 17px;
    font-weight: 400;
  }
  img{
    width: 325px; 
    padding: 15px; 
    border-radius: 20px;
    padding: 0.5%;
  }
  .button{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 6% 8%;
    border-radius: 15px;
    background-color: hsla(24, 45%, 55%, 0.8);
    color: rgb(237, 232, 227);
  }
  .button:hover{
    background-color: rgba(237, 232, 227, 0.8);
    color: rgb(74, 43, 22);
  }
  footer{
    text-align: center;
    display: inline-block;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .footer{
    font-weight: 600;
  }
  footer a{
    font-size: 25px;
    display: inline-block;
    grid-template-columns: fit-content(40%);
  }
  
  /*--INDEX.HTML--*/
  .home-img{
    padding-top: 8%;
    width: 450px;
    border-radius: 25px;
  }
  .text-header{
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;  
  }
  .home-text{
    letter-spacing: 1px;
    padding: 8% 2% 2% 2%;
    margin: 5px;
    font-size: 22px;
    font-weight: 450;
    line-height: 60px;
    background: linear-gradient(to bottom,#321b0b 0%, #a14a0f 100%);
    background-clip: text;
    color: transparent;
  }
  table{
    padding: 1% 1% 4% 1%;
    margin-left: auto;
    margin-right: auto;
    color: 1px transparent hsla(24, 45%, 55%, 0.8);
    width: 700px;
    height: 600px;  
    background-color: hsla(33, 100%, 88%, 0.6);
    border-radius: 20px;  
  }
  .new{
    padding: 2%;
    font-weight: 550;
    font-size: 22px;
  }
  #t-description{
    font-size: 20px;
    font-weight: 400;
    margin: 3%;
    text-align: justify;
  }
  .news{
    display: inline-block;
    margin-top: 5%;
    margin-right: 50px;
    width: 100%;
    text-align: center;
  }
  .opening{
    padding: 6% 1% 2% 1%;
    font-size: 32px;
    font-weight: 550;
  }
  #opening{
    width: 500px;
    height: 250px;
  }
  .row1{
    padding-top: 25px;
    width: 180px;
    border-bottom: solid 1px;
  }
  .row2{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 450;
    line-height: 80px;
  }
  
  /*--ABOUT.HTML--*/
  .about{
    padding-top: 10%;
    
  }
  .about-text{
    background-color: hsla(33, 100%, 90%, 0.8);
    font-size: 20px;
    font-weight: 450;
    border-radius: 20px;

  }
  .html{
    color: #e34c26;
  }
  .css{
    color: #264de4;
  }
  .js{
    color: #f0db4f;
  }
  /*--CONTACT.HTML--*/
  .contact{
    padding-top: 10%;
  }
  #contact{
    font-size: 20px;
    padding: 1%;
    font-weight: 450;
  }
  input[type="text"],
  input[type="email"],
  textarea[type="message"],
  button[type="submit"]{
    box-sizing: border-box;
    border: 3px solid rgb(74, 43, 22);
    border-radius: 15px;
    padding: 18px 28px;
    margin: 8px 0;
    color: black;
    background-color: rgb(243, 210, 170);
    opacity: 0.8;
  }
  ::placeholder{
    color:black;
  }
  form{
    font-size: 20px;
  }
  /*--CATEGORIES.HTML--*/
  .menu-title{
    padding-top: 10%;
    font-size: 50px;
    font-weight: 550;
    letter-spacing: 1px;
  }
  .cat-img{
    width: 300px;  
    border-radius: 50%;
    padding: 3%;
  }
  /*--PRODUCTS.HTML--*/
  .p-description{
    padding: 20px;
    font-size: 22px;
    font-weight: 450;
  }
  #product{
    font-size: 44px;
    font-weight: 550;
    letter-spacing: 1px;
  }
  .product{
    width: 300px;
    border-radius: 35px;
  }












  *{
  box-sizing: border-box;
  color: rgb(74, 43, 22);
  font-family: "Fredoka", sans-serif;
  padding: 0;
  margin: 2px;
  text-align: center;
  align-items: center;
}
header{
  padding-top: 0;
  display: block;
  margin: 2px;
  width: 100%;
}
.container{
  width: 100%;
  float: left;
}

.button{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 2% 4%;
  border-radius: 15px;
  background-color: hsla(24, 45%, 55%, 0.8);
  color: rgb(237, 232, 227);
}
.button:hover{
  background-color: rgba(237, 232, 227, 0.8);
  color: rgb(74, 43, 22);
}
footer{
  display: block;
  grid-template-columns: fit-content(60%);
  justify-content: space-evenly;  
}
footer a{
  font-size: 20px;
  grid-template-columns: fit-content(60%);
  display: inline-block;
  gap: 25px;
}
.footer{
  font-size: 16px;
  font-weight: 600;
}
/*--INDEX.HTML--*/
table{
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  color: 1px transparent hsla(24, 45%, 55%, 0.8);
  background-color: bisque;
  width: 550px;
  border-spacing: 30px 0px;
}
#t-title{
  margin: 20px;
  padding: 5px;
  border: 5px;
  font-size: 35px;
  font-weight: 600;
}
#t-description{
  font-size: 16px;
  font-weight: 400;
  margin: 10%;
  text-align: justify;
}
img{
  width: 200px;  
  border-radius: 20px;
  padding: 3%;
}
.news{
  display: inline-block;
  margin-top: 5%;
  margin-right: 50px;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}
.new{
  font-weight: 600;
}
/*--ABOUT.HTML--*/

/*--CONTACT.HTML--*/

/*--CATEGORIES.HTML--*/
/*--PRODUCTS.HTML--*/

}