/*
2- @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
font-family: "Playwrite DE Grund", cursive;

1- @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
font-family: "Comfortaa", sans-serif;

potential coffee shop font - @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
font-family: "Fredoka", sans-serif;

formal 1- @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,
wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
font-family: "Cormorant Garamond", serif;

rushed signature - @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
font-family: "Caveat", cursive;

cute signature - @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
font-family: "Indie Flower", cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

h1{
  font-size: 45px;
  font-weight: 500;
}
h2{
  padding-top: 3%;
  margin-top: 3%;

}
body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)), url('/files/images/background.png');
  background-size: cover;
  background-position: center;
}


@media screen and (min-width: 939px) {
*{
  color: rgb(74, 43, 22);
  font-family: "Fredoka", sans-serif;
  padding: 0;
  margin: 2px;
  text-align: center;
  align-items: center;
}
/*--COMMON AMONG HTMLs--*/
header{
  padding-top: 0;
  display: block;
  margin: 20px;  
}
.container{
  width: 100%;
  float: left;
}
.logo {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 20px;
  font-size: 60px;
  float: left;
  font-weight: 600;
}
.menu{
  margin: 5% 2px 20px 10px;
  display: flex;
  justify-content: space-evenly;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}
img{
  width: 325px;  
  border-radius: 20px;
  padding: 0.5%;
}
footer{
  text-align: center;
  display: inline-block;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.footer{
  font-weight: 600;
}
footer a{
  font-size: 25px;
  display: inline-block;
  grid-template-columns: fit-content(40%);
}

/*--INDEX.HTML--*/
table{
  margin-left: auto;
  margin-right: auto;
  color: 1px transparent hsla(24, 45%, 55%, 0.8);
  width: 750px;
  height: 650px;  
  background-color: bisque;
}
#t-title{
  font-size: 55px;
  font-weight: 500;
}
.new{
  font-weight: 600;
}
#t-description{
  font-weight: 400;
  margin: 5%;
  text-align: justify;
  
}
.news{
  display: inline-block;
  margin-top: 5%;
  margin-right: 50px;
  width: 100%;
  text-align: center;
}
.button{
  padding: 10px;
  border-radius: 4px; 
  background-color: rgb(239, 166, 130);
  color: white;
  font-weight: 500;
}
.button:hover{
  background-color:  hsla(24, 45%, 55%)
}
.hide{
  visibility: hidden;
}

/*--ABOUT.HTML--*/
#about{
  background-color: bisque;
  margin: 1.5% 20%;
  font-size: 25px;
}
/*--CONTACT.HTML--*/
input[type="text"],
input[type="email"],
textarea[type="message"],
input[type="submit"]{
  box-sizing: border-box;
  border: 3px solid rgb(74, 43, 22);
  border-radius: 15px;
  padding: 16px 25px;
  margin: 8px 0;
  color: black;
  background-color: bisque;
  opacity: 0.8;
}
::placeholder{
  color:black;
}
form{
  font-size: 20px;

}
/*--CATEGORIES.HTML--*/
.category{
  background-color: bisque;
}

/*--PRODUCTS.HTML--*/
}

@media screen and (max-width: 938px) {
*{
  box-sizing: border-box;
  color: rgb(74, 43, 22);
  font-family: "Fredoka", sans-serif;
  padding: 0;
  margin: 2px;
  text-align: center;
  align-items: center;
}
header{
  padding-top: 0;
  display: block;
  margin: 2px;
  width: 100%;
}
.container{
  width: 100%;
  float: left;
}
.logo{
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 20px;
  font-size: 50px;
  float: left;
  font-weight: 600;
  width: 100%;
}
.menu{
  justify-content: space-evenly;
  border: 20px;
  
  display: inline;
  font-size: 16px;
  font-weight: 400;
  
}
footer{
  display: block;
  grid-template-columns: fit-content(60%);
  justify-content: space-evenly;  
}
footer a{
  font-size: 20px;
  grid-template-columns: fit-content(60%);
  display: inline-block;
  gap: 25px;
}
.footer{
  font-size: 16px;
  font-weight: 600;
}
/*--INDEX.HTML--*/
table{
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  color: 1px transparent hsla(24, 45%, 55%, 0.8);
  background-color: bisque;
  width: 550px;
  border-spacing: 30px 0px;
}
#t-title{
  margin: 20px;
  padding: 5px;
  border: 5px;
  font-size: 35px;
  font-weight: 600;
}
#t-description{
  font-size: 16px;
  font-weight: 400;
  margin: 10%;
  text-align: justify;
}
img{
  width: 200px;  
  border-radius: 20px;
  padding: 3%;
}
.news{
  display: inline-block;
  margin-top: 5%;
  margin-right: 50px;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}
.new{
  font-weight: 600;
}
.button{
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: hsla(20, 30%, 33%);
  color: white;
  font-weight: 500;
}
.button:hover{
  background-color: hsla(24, 45%, 86%);
  color: hsla(20, 30%, 33%);
}
.hide{
  visibility: hidden;
}
/*--ABOUT.HTML--*/
.about{
  font-size: 35px;
}
#about{
  background-color: bisque;
  margin: 1% 25%;
  font-size: 20px;
}
/*--CONTACT.HTML--*/
input[type="text"],
input[type="email"],
textarea[type="message"],
input[type="submit"]{
  box-sizing: border-box;
  border: 3px solid rgb(74, 43, 22);
  border-radius: 15px;
  padding: 12px 20px;
  margin: 8px 0;
  color: black;
  background-color: bisque;
  opacity: 0.8;
}
::placeholder{
  color:black;
}
/*--CATEGORIES.HTML--*/
.category{
  background-color: bisque;
}
/*--PRODUCTS.HTML--*/

}