/*
2- @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
font-family: "Playwrite DE Grund", cursive;

1- @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
font-family: "Comfortaa", sans-serif;

potential coffee shop font - @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
font-family: "Fredoka", sans-serif;

formal 1- @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,
wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
font-family: "Cormorant Garamond", serif;

rushed signature - @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
font-family: "Caveat", cursive;

cute signature - @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
font-family: "Indie Flower", cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@media screen and (min-width: 900px) {

/*--COMMON AMONG HTMLs--*/
*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(74, 43, 22);
  font-family: "Fredoka", sans-serif;
  text-align: center;
  align-items: center;
}
h1{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 2%;
}
h2{
  font-size: 42px;
  font-weight: 550;
  letter-spacing: 1px;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 2%;
}
body{
  background-image: linear-gradient(rgba(255, 222, 196, 0.4), rgba(167, 79, 7, 0.4)), url('/files/images/background.png');
  background-size: cover;
  background-position: center;
}
header{
  padding-top: 0;
  display: block;
  margin: 20px;  
}

.logo {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 20px;
  font-size: 60px;
  float: left;
  font-weight: 600;
}
.menu{
  margin: 3% 2px 20px 20px;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
}
.bars{
  display: none;
}
img{
  width: 325px; 
  padding: 15px; 
  border-radius: 20px;
  padding: 0.5%;
}
.button{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 2% 4%;
  border-radius: 15px;
  background-color: rgb(74, 43, 22, 0.8);
  color: rgb(237, 232, 227);
}
.button:hover{
  background-color: rgba(237, 232, 227, 0.8);
  color: rgb(74, 43, 22);
}
footer{
  text-align: center;
  display: inline-block;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.footer{
  font-weight: 600;
}
footer a{
  font-size: 25px;
  display: inline-block;
  grid-template-columns: fit-content(40%);
}

/*--INDEX.HTML--*/
.home-img{
  margin: auto;
  padding: auto;
  width: 600px;
  border-radius: 25px;
}
.text-header{
  font-size: 45px;
  font-weight: 550;
  letter-spacing: 2px;  
}
.home-text{
  letter-spacing: 1px;
  padding: 8% 2% 2% 2%;
  margin: 5px;
  font-size: 42px;
  font-weight: 400;
  line-height: 100px;
  background: linear-gradient(to bottom,#321b0b 0%, #a14a0f 100%);
  background-clip: text;
  color: transparent;
}
table{
  padding: 1% 1% 3% 1%;
  margin-left: auto;
  margin-right: auto;
  color: 1px transparent hsla(24, 45%, 55%, 0.8);
  width: 750px;
  height: 650px;  
  background-color: hsla(33, 100%, 88%, 0.6);
  border-radius: 20px;  
}
.new{
  font-weight: 600;
  font-size: 24px;
}
#t-description{
  font-size: 20px;
  font-weight: 400;
  margin: 5%;
  text-align: justify;
}
.news{
  display: inline-block;
  margin-top: 5%;
  margin-right: 50px;
  width: 100%;
  text-align: center;
}
.opening{
  padding: 6% 1% 2% 1%;
}
#opening{
  width: 500px;
  height: 250px;
}
.row1{
  padding-top: 25px;
  width: 180px;
  border-bottom: solid 1px;
}
.row2{
  padding-top: 20px;
  font-size: 18px;
  font-weight: 350;
  line-height: 80px;
}

/*--ABOUT.HTML--*/
.about{
  padding-top: 10%;
}
.about-text{
  background-color: hsla(33, 100%, 90%, 0.7);
  font-size: 30px;
  font-weight: 450;
  border-radius: 20px;
}
.html{
  color: #e34c26;
}
.css{
  color: #264de4;
}
.js{
  color: #f0db4f;
}
/*--CONTACT.HTML--*/
.contact{
  padding-top: 10%;
}
#contact{
  font-size: 20px;
  padding: 1%;
  font-weight: 450;
}
input[type="text"],
input[type="email"],
textarea[type="message"],
button[type="submit"]{
  box-sizing: border-box;
  border: 3px solid rgb(74, 43, 22);
  border-radius: 15px;
  padding: 20px 28px;
  margin: 8px 0;
  font-size: 16px;
  color: black;
  background-color: rgb(243, 210, 170);
  opacity: 0.8;
}
::placeholder{
  color:black;
}
form{
  font-size: 20px;
}
/*--CATEGORIES.HTML--*/

.cat-img{
  width: 500px;  
  border-radius: 50%;
  padding: 3%;
}
/*--PRODUCTS.HTML--*/
.p-column{
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.p-description{
  grid-row: 2;
  padding: 10px 0px;
  font-size: 26px;
  font-weight: 450;
}

.product{
  grid-row: 1;
  padding: auto;
  margin: auto;
  width: 300px;
  border-radius: 20px;
}}


@media screen and (max-width: 990px) {

/*--COMMON AMONG HTMLs--*/  
*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(74, 43, 22);
  font-family: "Fredoka", sans-serif;
  text-align: center;
  align-items: center;
}
h1{
  font-size: 48px;
  font-weight: 550;
  letter-spacing: 2px;
}
h2{
  padding: 1% 0 1% 0;
  margin-top: 2%;
  font-size: 36px;
  font-weight: 550;
  letter-spacing: 1px;
}
h1:hover,
h2:hover{
  color: rgb(243, 210, 170);
}
body{
  background-image: linear-gradient(rgba(255, 222, 196, 0.3), rgba(167, 79, 7, 0.3)), url('/files/images/background.png');
  background-size: cover;
  background-position: center;
}
header{
  padding-top: 0;
  display: block;
  margin: 20px;  
}
.logo{
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 600;
  width: 100%;
  transition: 0.3s ease;
}
    /*--VIEW MENU IN MOBILE PHONE--*/
  .mobile-container {
  max-width: 990px;
  margin: auto;
  color: white;
  border-radius: 10px;
}
.mobile-menu {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  width: 100%;
}
.mobile-menu a {
  color: rgb(74, 43, 22);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.mobile-menu a.bars {
  color: rgb(74, 43, 22);
  font-size: 32px;
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease;
}
.mobile-menu a:hover,
.mobile-menu a.bars:hover,
.logo:hover,
.icon:hover {
  transform: scale(1.1);
  color: rgb(243, 210, 170);
}
.mobile-menu #menu {
  display: none;
}
img{
  width: 325px; 
  padding: 15px; 
  border-radius: 20px;
  padding: 0.5%;
}
.button{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 3% 6%;
  border-radius: 15px;
  background-color: hsla(24, 45%, 55%, 0.8);
  color: rgb(237, 232, 227);
}
.button:hover{
  background-color: rgba(237, 232, 227, 0.8);
  color: rgb(74, 43, 22);
}
footer{
  text-align: center;
  display: inline-block;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.footer{
  font-weight: 600;
}
footer a{
  font-size: 25px;
  display: inline-block;
  grid-template-columns: fit-content(40%);
}

/*--INDEX.HTML--*/
.home-img{
  width: 400px;
  border-radius: 25px;
}
.text-header{
  font-size: 30px;
  font-weight: 550;
  letter-spacing: 1px;  
}
.home-text{
  letter-spacing: 1px;
  padding: 8% 2% 2% 2%;
  margin: 5px;
  font-size: 22px;
  font-weight: 450;
  line-height: 60px;
  background: linear-gradient(to bottom,#321b0b 0%, #a14a0f 100%);
  background-clip: text;
  color: transparent;
}
table{
  padding: 1% 1% 4% 1%;
  margin-left: auto;
  margin-right: auto;
  color: 1px transparent hsla(24, 45%, 55%, 0.8);
  width: 500px;
  height: 400px;  
  background-color: hsla(33, 100%, 88%, 0.7);
  border-radius: 20px;  
}
.new{
  padding: 1%;
  font-weight: 600;
  font-size: 22px;
}
.table-img{
  width: 220px;
}
#t-description{
  font-size: 16px;
  font-weight: 400;
  margin: 10%;
  text-align: justify;
}
.news{
  display: inline-block;
  margin-top: 5%;
  margin-right: 50px;
  width: 100%;
  text-align: center;
}
#opening{
  padding: 2% 0 2% 5%;
  width: 460px;
  height: 250px;
  background-color: hsla(33, 100%, 88%, 0.7);
}
.row1{
  width: 180px;
  border-bottom: solid 1px;
}
.row2{    
  font-size: 14px;
  font-weight: 450;
  line-height: 70px;
}

/*--ABOUT.HTML--*/
.about{
  padding-top: 10%;
}
.about-text{
  background-color: hsla(33, 100%, 90%, 0.8);
  font-size: 20px;
  font-weight: 450;
  border-radius: 20px;
}
.html{
  color: #e34c26;
}
.css{
  color: #264de4;
}
.js{
  color: #f0db4f;
}
/*--CONTACT.HTML--*/
.contact{
  padding-top: 10%;
}
#contact{
  font-size: 20px;
  padding: 1%;
  font-weight: 450;
}
input[type="text"],
input[type="email"],
textarea[type="message"],
button[type="submit"]{
  box-sizing: border-box;
  border: 3px solid rgb(74, 43, 22);
  border-radius: 15px;
  padding: 18px 28px;
  margin: 8px 0;
  color: black;
  background-color: rgb(243, 210, 170);
  opacity: 0.8;
}
::placeholder{
  color:black;
}
form{
  font-size: 20px;
}
/*--CATEGORIES.HTML--*/
.menu-title{
  font-size: 50px;
  font-weight: 550;
  letter-spacing: 1px;
}
.cat-img{
  width: 300px;  
  border-radius: 50%;  
}
/*--PRODUCTS.HTML--*/
.p-column{
  text-align: center;
  align-items: center;
}
.p-description{
  font-size: 18px;
  padding-bottom: 2%;
}
#product{
  font-size: 44px;
  font-weight: 550;
  letter-spacing: 1px;
}
.product{

  width: 250px;
  border-radius: 35px;
}
}



